/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

a{font-size:  90%;}
h3{
  background-color: #adbace;
  color: #8e4a1f;
  font-style: italic;
  margin: 0px;
  border: ridge black 6px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 30%;}
